apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-depl
spec:
  selector:
    matchLabels:
      app: auth
  template:
    metadata:
      labels:
        app: auth
    spec:
      containers:
        - name: auth
          image: niloyrudra/auth
          env:
          - name: PG_HOST
            valueFrom:
              secretKeyRef:
                name: auth-secrets
                key: PG_HOST
          - name: PG_PORT
            valueFrom:
              secretKeyRef:
                name: auth-secrets
                key: PG_PORT
          - name: PG_DB
            valueFrom:
              secretKeyRef:
                name: auth-secrets
                key: PG_DB
          - name: PG_USER
            valueFrom:
              secretKeyRef:
                name: auth-secrets
                key: PG_USER
          - name: PG_PASSWORD
            valueFrom:
              secretKeyRef:
                name: auth-secrets
                key: PG_PASSWORD
          - name: JWT_KEY
            valueFrom:
              secretKeyRef:
                name: auth-secrets
                key: JWT_KEY
---
apiVersion: v1
kind: Service
metadata:
  name: auth-srv
spec:
  selector:
    app: auth
  ports:
    - name: auth
      protocol: TCP
      port: 3000
      targetPort: 3000